
.cabeçalho__menu-hamburguer {
    largura: 24px;
    altura: 24px;
    imagem de fundo: url("../img/Menu.svg");
    repetição de fundo: sem repetição; /*Para evitar alguns problemas com nosso menu hambúrguer*/
    posição de fundo: centro;
    display: bloco embutido;
}

.cabeçalho {
    cor de fundo: var(--branco);
    exibição: flexível;
    justificar-conteúdo: espaço entre;
    alinhar itens: centro;
    posição: relativa;
}

.container {
    exibição: flexível;
    alinhar itens: centro;
}

.container__imagem {
    preenchimento: 1em;
}

.lista-menu {
    Mostrar nenhum;
    posição: absoluta;
    Os 100 melhores%;
    largura: 60vw;
}

.container__botao:marcado ~ .lista-menu {
    exibição: bloco;
}

.lista-menu__titulo,
.lista-menu__item {
    cor: var(--laranja);
    preenchimento: 1em;
    cor de fundo: var(--branco);
}

.lista-menu__link {
    plano de fundo: var(--azul-degradar);
    -webkit-background-clip: texto;
    -webkit-text-fill-color: transparente;
    clipe de fundo: texto;
    transformação de texto: maiúsculas;
}
